#box{
    width: 150px;
    height: 400px;
    background-color: black;
}
#one{
    height: 80px;
    width:80px;
    background-color: red;
    border-radius: 50%;
    margin-left: 30px;
   margin-top: 29px;
}
#two{
    height: 80px;
    width:80px;
    background-color:yellow;
    border-radius: 50%;
    margin-left: 30px;
   margin-top: 15px;
}#three{
    height: 80px;
    width:80px;
    background-color:green;
    border-radius: 50%;
    margin-left: 30px;
   margin-top: 15px;
}